
html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
  }
*{
    margin: 0;
    padding: 0;
}
body{
    
    margin: 0 auto;
    background: #a6daec;
}

h1, h2,h3,h4 {
    font-family: 'Faster One', cursive;
    color:#09355e;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }

header{
    position: relative;
    text-align: center;
    margin: 50px 20px;
}

section{
    position: relative;
    display: inline-block;
    margin-left: 200px;
    margin-top: 70px;
}
section p{
    margin: 5px;
}
article{
    position: relative;
    display: inline-block;
    margin-left: 100px;
}
article p{
    margin: 5px;
}
div{
    position: relative;
    display: inline-block;
    margin-left: 100px;
}
div p{
    margin: 5px;
}
@media screen and (max-width:800px)
{
    section{
        margin-left: 80px;
        margin-top: 70px;
    }
    article{
        margin-left: 80px;
    }
    div{
        margin-left: 80px;
    }
}